Repository femdevs/femdevs-remake, changes with the owners that .github/CODEOWNERS names for each.
All owners: @femdevs/code-review, @femdevs/dev, @femdevs/admin

finish up API
  app/api/crypto/dec/route.js
  app/api/crypto/enc/route.js
  app/api/facts/cat/route.js
  app/api/facts/chucknorris/route.js
  app/api/facts/dog/route.js
  app/api/location/address/route.js
  app/api/location/coords/route.js
  app/api/location/pluscode/route.js
  app/api/mail/send/route.js
  app/api/minecraft/hive/map/[map]/route.js
  app/api/minecraft/hive/map/route.js
  app/api/minecraft/hive/player/route.js
  app/api/password/gen/route.js
  app/api/phone/details/route.js
  app/api/quotes/kanye/route.js
  app/api/quotes/random/route.js
  app/api/quotes/ronswanson/route.js
  app/api/whois/dns/route.js
  app/api/whois/full/route.js
  app/api/whois/whois/route.js
  docs/api-documentation.yml
  middleware.js
  package.json
  pnpm-lock.yaml
  src/crypto.js
  src/formatters/base.js
  src/formatters/location.js
  src/formatters/phone.js
  src/formatters/quote.js
  src/modules/dns.js
  src/modules/location.js
Owners: @femdevs/code-review, @femdevs/dev

update file name
  .env.prod
Owners: @femdevs/code-review, @femdevs/dev

Fixed build errors locally
  app/api/facts/cat/route.js
  app/api/facts/chucknorris/route.js
  app/api/facts/dog/route.js
  app/api/password/gen/route.js
  app/api/quotes/kanye/route.js
  app/api/quotes/random/route.js
  app/api/quotes/ronswanson/route.js
  app/profile/nezha/.gitkeep
  app/profile/nezha/page.js
  app/profile/oblong/.gitkeep
  app/profile/oblong/page.js
  docs/api-documentation.yml
  example.env
  package.json
  pnpm-lock.yaml
  src/cors.js
  src/formatters/quote.js
Owners: @femdevs/code-review, @femdevs/dev

combine and rename
  .env.production
  components/Footer.jsx
  components/FooterLink.jsx
  components/footerHeader.jsx
Owners: @femdevs/code-review, @femdevs/dev

more improvements
  app/assets/images/grav/[hash]/route.js
  components/Nav.jsx
Owners: @femdevs/code-review, @femdevs/dev

fix new domain systems
  app/[lang]/about/page.js
  app/[lang]/team/page.js
  app/api/mail/send/route.js
  app/assets/images/deficon/route.js
  app/assets/images/icon/[color]/route.js
  app/assets/images/icon/route.js
  app/assets/images/team/[user]/route.js
  app/profile/alex/page.js
  app/profile/ben/page.js
  assets/documents/legal/terms/686bbb78-eabf-400c-b76c-deb77cc4b508.txt
  assets/media/logos/blue.svg
  assets/media/logos/darkblue.svg
  assets/media/logos/darkgreen.svg
  assets/media/logos/darkorange.svg
  assets/media/logos/darkpink.svg
  assets/media/logos/darkpurple.svg
  assets/media/logos/darkred.svg
  assets/media/logos/default.svg
  assets/media/logos/green.svg
  assets/media/logos/lightblue.svg
  assets/media/logos/lightgreen.svg
  assets/media/logos/lightorange.svg
  assets/media/logos/lightpink.svg
  assets/media/logos/lightpurple.svg
  assets/media/logos/lightred.svg
  assets/media/logos/orange.svg
  assets/media/logos/pink.svg
  assets/media/logos/purple.svg
  assets/media/logos/red.svg
  assets/media/logos/yellow.svg
  components/Nav.jsx
Owners: @femdevs/code-review, @femdevs/dev

fix issues
  app/assets/images/deficon/route.js
  app/assets/images/icon/[color]/route.js
  app/assets/images/icon/route.js
Owners: @femdevs/code-review, @femdevs/dev

finalized changes
  .env.production
  README.md
Owners: @femdevs/code-review, @femdevs/dev, @femdevs/admin

bunch of updates to different internal systems
  .github/workflows/bumpsh.yml
  .github/workflows/security.yml
  app/[lang]/about/page.js
  app/[lang]/layout.js
  app/[lang]/page.js
  app/[lang]/team/page.js
  app/assets/images/grav/[hash]/route.js
  app/layout.js
  app/not-found.jsx
  app/profile/alex/page.js
  app/profile/ben/page.js
  app/spotify/[name]/player/page.js
  components/Footer.jsx
  middleware.js
  next.config.mjs
  public/next.svg
  public/opengraph-image.png
  public/twitter-image.png
  public/vercel.svg
  src/uptime.js
Owners: @femdevs/admin, @femdevs/code-review, @femdevs/dev

update metadata and speed insights
  app/[lang]/layout.js
  app/layout.js
  package.json
  pnpm-lock.yaml
Owners: @femdevs/code-review, @femdevs/dev

add in analytics
  app/[lang]/layout.js
  package.json
  pnpm-lock.yaml
Owners: @femdevs/code-review, @femdevs/dev

fix workflows
  .github/workflows/bumpsh.yml
  .github/workflows/security.yml
Owners: @femdevs/admin, @femdevs/code-review, @femdevs/dev

fix fetch and remove security scanning (using pnpm)
  .github/workflows/security.yml
  components/Player.jsx
Owners: @femdevs/admin, @femdevs/code-review, @femdevs/dev

extend the time out for new requests to reduce through-put
  components/Player.jsx
Owners: @femdevs/code-review, @femdevs/dev

global speed analysis
  app/[lang]/layout.js
  app/layout.js
  components/Player.jsx
  middleware.js
  package.json
  pnpm-lock.yaml
Owners: @femdevs/code-review, @femdevs/dev

add in metadata routes
  app/robots.js
  app/sitemap.js
Owners: @femdevs/code-review, @femdevs/dev

add in manifest.json
  app/manifest.js
Owners: @femdevs/code-review, @femdevs/dev

fix sitemap
  app/sitemap.js
Owners: @femdevs/code-review, @femdevs/dev

fix sitemap 2.0
  app/sitemap.js
Owners: @femdevs/code-review, @femdevs/dev

Update Readme
  README.md
Owners: @femdevs/admin, @femdevs/code-review, @femdevs/dev

Update Meta Routes
  app/robots.js
  app/sitemap.js
Owners: @femdevs/code-review, @femdevs/dev

relocate Directories
  app/admin/.gitkeep
  app/oss/.gitkeep
Owners: @femdevs/admin, @femdevs/code-review, @femdevs/dev

Stage 1 of OSS conversion
  app/oss/code-of-conduct/page.js
  app/oss/contributing/page.js
  app/oss/page.js
Owners: @femdevs/admin, @femdevs/code-review, @femdevs/dev

fix logo render
  app/assets/images/icon/[color]/route.js
Owners: @femdevs/code-review, @femdevs/dev

Stage 2 of OSS conversion
  app/oss/.gitkeep
  app/oss/contributors/page.js
  app/oss/license/page.js
  app/oss/page.js
  app/oss/security/page.js
Owners: @femdevs/admin, @femdevs/code-review, @femdevs/dev

woopsy
  app/oss/contributors/page.js
Owners: @femdevs/admin, @femdevs/code-review, @femdevs/dev

fix mapping
  app/oss/contributors/page.js
Owners: @femdevs/admin, @femdevs/code-review, @femdevs/dev

fix layout and the security headers
  app/oss/layout.js
  app/oss/security/page.js
Owners: @femdevs/admin, @femdevs/code-review, @femdevs/dev

Major changes to the website
  app/[lang]/page.js
  app/[lang]/team/page.js
  app/globals.css
  app/layout.js
  app/legal/cookies/.gitkeep
  app/legal/layout.js
  app/legal/privacy/.gitkeep
  app/legal/terms/.gitkeep
  app/profile/alex/page.js
  app/profile/ben/page.js
  components/Footer.jsx
  components/Nav.jsx
  components/ProfileSocial.jsx
  components/ProfileSocialIcon.jsx
  components/StatusOrb.jsx
  middleware.js
  package.json
  pnpm-lock.yaml
  src/uptime.js
Owners: @femdevs/code-review, @femdevs/dev

version 5.0.0 beta 2
  package.json
Owners: @femdevs/code-review, @femdevs/dev

Add in legal websites
  app/legal/cookies/.gitkeep
  app/legal/cookies/page.js
  app/legal/privacy/.gitkeep
  app/legal/privacy/page.js
  app/legal/terms/.gitkeep
  app/legal/terms/page.js
  components/Statement.jsx
Owners: @femdevs/code-review, @femdevs/dev

update staff systems
  app/[lang]/team/page.js
Owners: @femdevs/code-review, @femdevs/dev

add in translations
  app/[lang]/team/page.js
  translations/main_translations.json
Owners: @femdevs/code-review, @femdevs/dev

fix translations
  app/[lang]/team/page.js
  translations/main_translations.json
Owners: @femdevs/code-review, @femdevs/dev

add in license
  LICENSE
Owners: @femdevs/admin, @femdevs/code-review, @femdevs/dev

fix developer badge
  app/[lang]/team/page.js
Owners: @femdevs/code-review, @femdevs/dev

push new sign in
  .gitignore
  app/layout.js
  components/Nav.jsx
  middleware.js
  package.json
  pnpm-lock.yaml
Owners: @femdevs/code-review, @femdevs/dev

fix middleware
  middleware.js
Owners: @femdevs/code-review, @femdevs/dev

changes
  app/[lang]/layout.js
  app/[lang]/page.js
  app/admin/.gitkeep
  app/layout.js
  components/accessDenied.jsx
  middleware.js
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Owners: @femdevs/code-review, @femdevs/dev, @femdevs/admin

make some much needed changes to the internals
  app/[lang]/about/page.js
  app/[lang]/page.js
  app/[lang]/team/page.js
  app/auth/.gitkeep
  app/layout.js
  package.json
  pnpm-lock.yaml
  src/generateMetadata.js
Owners: @femdevs/code-review, @femdevs/dev, @femdevs/admin

.github/CODEOWNERS:

* @femdevs/code-review @femdevs/dev
/app/oss/ @femdevs/admin @femdevs/code-review @femdevs/dev
/app/auth/ @femdevs/admin @femdevs/code-review @femdevs/dev
/app/mail/ @femdevs/admin @femdevs/code-review @femdevs/dev
/app/admin/ @femdevs/admin @femdevs/code-review @femdevs/dev
**/meta/ @femdevs/admin @femdevs/code-review @femdevs/dev
CODEOWNERS @femdevs/admin @femdevs/code-review @femdevs/dev
CONTRIBUTING.md @femdevs/admin @femdevs/code-review @femdevs/dev
LICENSE @femdevs/admin @femdevs/code-review @femdevs/dev
README.md @femdevs/admin @femdevs/code-review @femdevs/dev
SECURITY.md @femdevs/admin @femdevs/code-review @femdevs/dev
.github/ @femdevs/admin @femdevs/code-review @femdevs/dev
